<div class="bg-green outer-bg"></div>
<div class="bg-dark-green inner-bg"></div>

<div class="container mb-0">
  <div class="row">
    <p class="white col mt-xs">{{ 'FOOTER.TEXT' | translate }}</p>
    <div class="sm mb-xl">
      <a aria-label="Startum facebook" class="sm-link" href="https://www.facebook.com/groups/6453237864781928" target="_blank">
        <img class="sm-icon" src="assets/fb.svg" alt="Startum facebook" />
      </a>
      <a aria-label="Startum instagram" class="sm-link ml-md" href="https://www.instagram.com/startum_dk/" target="_blank">
        <img class="sm-icon" src="assets/inst.svg" alt="Startum instagram" />
      </a>
      <a aria-label="Startum whatsapp" class="sm-link ml-md" href="https://wa.me/4526459669" target="_blank">
        <img class="sm-icon" src="assets/wa.svg" alt="Startum whatsapp" />
      </a>
    </div>
  </div>
</div>
