<div class="block-section bg-citron">
  <div class="container">
    <h2>Цены и система скидок</h2>
    <div class="row">
      <div class="card bg-blue">
        <h3><span class="white cursive big">80</span> крон</h3>
        <h3>за 1 урок</h3>
      </div>

      <div class="card bg-dark-blue card2">
        <h3 class="white"><span class="cursive big">140</span> крон</h3>
        <h3 class="white">за 2 урока</h3>
      </div>

      <div class="card bg-green card3">
        <h3><span class="white cursive big">180</span> крон</h3>
        <h3>за 3 урока</h3>
      </div>

      <div class="card no-gap card4">
        <div class="class-four" style="background-image: url('assets/star-white.svg')">
          <h3>4 урок<br />бесплатно</h3>
        </div>
      </div>
    </div>
    <div class="float">
      <p class="pb-0"><b>Третий ребенок в семье</b></p>
      <p>(ребенок с меньшим количеством уроков) посещает школу бесплатно Узнать подробности</p>
      <a href="#signup" class="btn btn-red">Узнать подробности</a>
    </div>
  </div>
  <div class="triangle left"></div>
</div>
