<div class="block-section bg-citron">
  <div class="container">
    <h2>{{ 'PRICE.HEADER' | translate }} - {{ lang }}</h2>
    <div class="row">
      <ng-container *ngIf="price$ | async as prices">
        @for (item of prices; track $index;) { @if ($index < 3) {
        <div class="card bg-blue card{{ $index + 1 }}" [ngClass]="styles[$index].bg">
          <h3
            ><span class="white cursive big">{{ item.main }}</span>
            <span [class.white]="styles[$index].p">{{ item[lang].extension }}</span></h3
          >
          <h3 [class.white]="styles[$index].p">{{ item[lang].description }}</h3>
        </div>
        } @else {
        <div class="card no-gap card4">
          <div class="class-four" style="background-image: url('assets/star-white.svg')">
            <h3>{{ item.main }} <span [innerText]="replaceDoubleCharacters(item[lang].description || '')"></span></h3>
          </div>
        </div>
        } }
      </ng-container>
    </div>
    <div class="float">
      <p class="pb-0"
        ><b>{{ 'PRICE.TEXT_ONE' | translate }}</b></p
      >
      <p>{{ 'PRICE.TEXT_TWO' | translate }}</p>
      <a href="#signup" class="btn btn-red">{{ 'PRICE.BUTTON' | translate }}</a>
    </div>
  </div>
  <div class="triangle left"></div>
</div>
