<div class="block-section bg-blue">
  <div class="net"></div>
  <div class="container">
    <h2>{{ 'EVENTS.HEADER' | translate }}</h2>

    <div class="row">
      <div class="card card-55">
        <div class="p-l">
          <h3>{{ 'EVENTS.ONE.HEADER' | translate }}</h3>
          <ul>
            <li>{{ 'EVENTS.ONE.TEXT1' | translate }}</li>
            <li>{{ 'EVENTS.ONE.TEXT2' | translate }}</li>
            <li>{{ 'EVENTS.ONE.TEXT3' | translate }}</li>
            <li>{{ 'EVENTS.ONE.TEXT4' | translate }}</li>
            <li>{{ 'EVENTS.ONE.TEXT5' | translate }}</li>
          </ul>
        </div>
        <div class="img-col" style="background-image: url('/assets/events/1.jpg')"></div>
      </div>

      <div class="card">
        <div class="p-l">
          <h3>{{ 'EVENTS.TWO.HEADER' | translate }}</h3>
          <p>{{ 'EVENTS.TWO.TEXT' | translate }}</p>
        </div>
        <div class="img-col" style="background-image: url('/assets/events/2.jpg')"></div>
      </div>
    </div>

    <div class="row">
      <div class="card card-60">
        <div class="p-l">
          <h3>{{ 'EVENTS.THREE.HEADER' | translate }}</h3>
          <p>{{ 'EVENTS.THREE.TEXT' | translate }}</p>
        </div>
        <div class="img-col" style="background-image: url('/assets/events/3.jpg')"></div>
      </div>
      <div class="card">
        <div class="p-l">
          <h3>{{ 'EVENTS.FOUR.HEADER' | translate }}</h3>
          <p>{{ 'EVENTS.FOUR.TEXT' | translate }}</p>
        </div>
        <div class="img-col" style="background-image: url('/assets/events/4.jpg')"></div>
      </div>
    </div>
  </div>
  <div class="triangle"></div>
</div>
