<div class="row">
  <div class="card no-gap card-60">
    <h1 [innerHTML]="'HERO.HEADER' | translate"></h1>
    <h3 class="sub-header">
      <span [innerHTML]="'HERO.TEXT' | translate"></span>
      <img class="rocket" src="assets/rocket.svg" />
    </h3>
    <div class="address">
      <img class="pin" src="assets/pin.svg" alt="map" />
      <a class="ml-sm" href="https://maps.app.goo.gl/RuZ55cU2jsaLPMSAA">Stengårds Alle 122-128, <br />2800 Kongens Lyngby</a>
    </div>
    <a class="btn btn-lg btn-red mr-auto" href="#signup">{{ 'HERO.SIGN_UP' | translate }}</a>
  </div>

  <div class="card">
    <div class="full school-img" style="background-image: url('assets/school.png')"></div>
  </div>
</div>

<div class="row">
  <div class="card bg-yellow">
    <a (click)="showSchedule = true" class="btn btn-black ml-0 mr-auto mb-md"
      >{{ 'HERO.SCHEDULE' | translate }} <span class="pl-xs">→</span>
    </a>
    <img class="mt-auto mb-0" src="assets/pencils.jpg" />
  </div>

  <div class="card bg-blue">
    <h3 class="cursive white big mb-0 pb-0">10+</h3>
    <h3>{{ 'HERO.ONE.HEADER' | translate }}</h3>
    <p>{{ 'HERO.ONE.TEXT' | translate }}</p>
    <a href="#process" class="btn btn-white bottom">{{ 'HERO.ONE.BUTTON' | translate }} <span class="pl-xs">↓</span></a>
  </div>

  <div class="card bg-green">
    <h3>{{ 'HERO.TWO.HEADER' | translate }}</h3>
    <p>{{ 'HERO.TWO.TEXT' | translate }}</p>
    <a href="#events" class="btn btn-white bottom">{{ 'HERO.TWO.BUTTON' | translate }} <span class="pl-xs">↓</span></a>
  </div>
</div>

<ng-container *ngIf="showSchedule">
  <div class="overlay">
    <div class="container">
      <div class="overlay-close-container">
        <button type="button" title="close" class="overlay-close-container-btn" (click)="showSchedule = false">
          <img class="icon-img" src="assets/close.svg" alt="menu" />
        </button>
      </div>
      <app-schedule></app-schedule>
    </div>
  </div>
</ng-container>
