<div class="scroll-container">
  <div class="item-th" *ngFor="let item of items" (click)="showOverlay = true" [appOverlay]="showOverlay">
    <a [attr.href]="'#' + folder + '-img-' + (item + 1)">
      <img [attr.src]="'assets/' + folder + '/' + (item + 1) + '-thumbnail.jpg'" alt="" />
    </a>
  </div>
</div>

<ng-container *ngIf="showOverlay">
  <div class="overlay">
    <div class="container">
      <div class="overlay-close-container">
        <button type="button" title="close" class="overlay-close-container-btn" (click)="showOverlay = false">
          <img class="icon-img" src="assets/close.svg" alt="menu" />
        </button>
      </div>

      <section class="carousel" aria-label="Gallery">
        <ol class="carousel__viewport">
          <li
            [attr.id]="folder + '-img-' + (item + 1)"
            tabindex="0"
            class="carousel__slide"
            *ngFor="let item of items; let last = last; let first = first"
          >
            <div class="carousel__snapper">
              <img [attr.src]="'assets/' + folder + '/' + (item + 1) + '.jpg'" alt="" />
              <a [attr.href]="'#' + folder + '-img-' + (first ? items.length : item)" class="carousel__prev">Previous</a>
              <a [attr.href]="'#' + folder + '-img-' + (last ? 1 : item + 2)" class="carousel__next">Next</a>
            </div>
          </li>
        </ol>
      </section>
    </div>
  </div>
</ng-container>
