<!-- TOP BAR -->
<app-top-bar class="container"></app-top-bar>

<!-- HERO BANNER -->
<app-hero-section class="container" id="start"></app-hero-section>

<!-- STUDY PROCESS -->
<div class="block-section bg-green" id="process">
  <div class="net left"></div>
  <div class="container">
    <h2>{{ 'PROCESS.HEADER' | translate }}</h2>
    <div class="card">
      <h3>{{ 'PROCESS.ONE.HEADER' | translate }}</h3>
      <p class="text-w-50">{{ 'PROCESS.ONE.TEXT' | translate }}</p>
      <app-gallery [length]="10" [folder]="'gallery1'"></app-gallery>
    </div>
    <div class="card bg-yellow mt-md">
      <h3>{{ 'PROCESS.TWO.HEADER' | translate }}</h3>
      <p class="text-w-25">{{ 'PROCESS.TWO.TEXT' | translate }}</p>
      <app-gallery [length]="10" [folder]="'gallery2'"></app-gallery>
      <a href="#events" class="btn btn-black bottom mt-md">{{ 'PROCESS.TWO.BUTTON' | translate }} <span class="pl-xs">↓</span></a>
    </div>
  </div>
  <div class="triangle left"></div>
</div>

<!-- EVENTS -->
<app-events id="events"></app-events>

<!-- PRICE -->
<app-price id="price"></app-price>

<!-- TEAM -->
<app-team id="team"></app-team>

<!-- FEEDBACK -->
<div class="block-section" id="feedback">
  <div class="container">
    <h2>{{ 'FEEDBACK.HEADER' | translate }}</h2>
    <div class="row">
      <!-- Col 1 -->
      <div>
        <p class="text-20">{{ 'FEEDBACK.TEXT' | translate }}</p>
        <a href="#signup" class="btn btn-black">{{ 'FEEDBACK.BUTTON' | translate }}</a>
      </div>

      <!-- Col 2 -->
      <div class="mt-md">
        <div class="card bg-yellow mt-sm">
          <q>{{ 'FEEDBACK.ONE.TEXT' | translate }}</q>
          <h4 class="pb-0">
            <span class="name">{{ 'FEEDBACK.ONE.C' | translate }}</span>
            <span [innerHTML]="'FEEDBACK.ONE.NAME' | translate"></span>
          </h4>
        </div>

        <div class="card bg-green mt-sm">
          <q>{{ 'FEEDBACK.TWO.TEXT' | translate }}</q>
          <h4 class="pb-0">
            <span class="name">{{ 'FEEDBACK.TWO.C' | translate }}</span>
            <span [innerHTML]="'FEEDBACK.TWO.NAME' | translate"></span>
          </h4>
        </div>
      </div>
      <div>
        <!-- Col 3 -->
        <div>
          <div class="card bg-blue">
            <q>{{ 'FEEDBACK.THREE.TEXT' | translate }}</q>
            <h4 class="pb-0">
              <span class="name">{{ 'FEEDBACK.THREE.C' | translate }}</span>
              <span [innerHTML]="'FEEDBACK.THREE.NAME' | translate"></span>
            </h4>
          </div>

          <div class="card bg-dark-blue mt-sm">
            <q class="white">{{ 'FEEDBACK.FOUR.TEXT' | translate }}</q>
            <h4 class="white pb-0">
              <span class="name">{{ 'FEEDBACK.FOUR.C' | translate }}</span>
              <span [innerHTML]="'FEEDBACK.FOUR.NAME' | translate"></span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block-section bg-blue" id="signup">
  <div class="container">
    <h2>{{ 'CONTACT_US.HEADER' | translate }}</h2>

    <div class="row">
      <div>
        <app-contact-us></app-contact-us>
      </div>

      <div class="footer-spacer"></div>

      <div>
        <h3 [innerHTML]="'CONTACT_US.HEADLINE' | translate"></h3>
        <p>{{ 'CONTACT_US.TEXT' | translate }}</p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
