<!-- TOP BAR -->
<app-top-bar class="container"></app-top-bar>

<!-- HERO BANNER -->
<app-hero-section class="container" id="start"></app-hero-section>

<!-- STUDY PROCESS -->
<div class="block-section bg-green" id="process">
  <div class="net left"></div>
  <div class="container">
    <h2>Процесс обучения в нашей школе</h2>
    <div class="card">
      <h3>Откройте радость учёбы с нами</h3>
      <p class="text-w-50">
        В нашей школе мы используем игровые элементы, творческий подход и академические знания в обучении, дети активно участвуют. Мы
        создаем дружескую атмосферу, где каждый ребенок чувствует себя комфортно и уверенно
      </p>
      <app-gallery [length]="10" [folder]="'gallery1'"></app-gallery>
    </div>
    <div class="card bg-yellow mt-md">
      <h3>Участие в конкурсах и олимпиадах</h3>
      <p class="text-w-25"> Приходите и присоединяйтесь к нашим занятиям. Участвуйте в международных конкурсах и олимпиадах с нами </p>
      <app-gallery [length]="10" [folder]="'gallery2'"></app-gallery>
      <a href="#events" class="btn btn-black bottom mt-md">Узнать больше <span class="pl-xs">↓</span></a>
    </div>
  </div>
  <div class="triangle left"></div>
</div>

<!-- EVENTS -->
<app-events id="events"></app-events>

<!-- PRICE -->
<app-price id="price"></app-price>

<!-- TEAM -->
<app-team id="team"></app-team>

<!-- FEEDBACK -->
<div class="block-section" id="feedback">
  <div class="container">
    <h2>Отзывы</h2>
    <div class="row">
      <!-- Col 1 -->
      <div>
        <p class="text-20">Приходите и попробуйте одно или несколько различных занятий 🙂</p>
        <a href="#signup" class="btn btn-black">Связаться с нами</a>
      </div>

      <!-- Col 2 -->
      <div>
        <div class="card bg-yellow mt-sm">
          <p>
            "Оба моих ребенка посещают эту школу и всегда возвращаются домой с хорошим настроением. Мне нравится система скидок для семей,
            это делает обучение доступным для нас. Мы рады, что нашли такую замечательную школу!"
          </p>
          <h4 class="pb-0">
            <span class="name">Я</span>
            Янина, <br />мама Изабеллы (9 лет) <br />и Эрика (6 лет)
          </h4>
        </div>

        <div class="card bg-green mt-sm">
          <p>
            “Мы с мужем, Михаилом, очень довольны, что все наши дети посещают эту школу. Наш третий ребенок учится бесплатно. Наши субботы
            проходят с пользой, и детям здесь очень нравится”
          </p>
          <h4 class="pb-0">
            <span class="name">Ю</span>
            Надежда, <br />
            мама Алисы (5 лет), Алены (7 лет) и Алексея (10 лет)
          </h4>
        </div>
      </div>
      <div>
        <!-- Col 3 -->
        <div>
          <div class="card bg-blue">
            <p>
              "Отличная школа! Алиса с радостью посещает все уроки. Нам очень нравится, что здесь не только дают знания, но и развивают
              творческое мышление детей. Спасибо учителям за их труд и заботу!"
            </p>
            <h4 class="pb-0">
              <span class="name">Н</span>
              Наталья, <br />мама Алисы (6 лет)
            </h4>
          </div>

          <div class="card bg-dark-blue mt-sm">
            <p class="white"> "Мы очень довольны обучением в этой школе. С нетерпением ждем каждого урока и начала учебного года” </p>
            <h4 class="white pb-0">
              <span class="name">Д</span>
              Даша, <br />мама Владимира (6 лет)
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block-section bg-blue" id="signup">
  <div class="container">
    <h2>Свяжитесь с нами</h2>

    <div class="row">
      <div>
        <!-- <app-sign-up></app-sign-up> -->
        <app-contact-us></app-contact-us>
      </div>

      <div class="footer-spacer"></div>

      <div>
        <h3>
          Билингвизм - это дар, <br />
          который мы развиваем!
        </h3>
        <p>До встречи на занятиях! 📚✨</p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
