<h2>{{ 'SCHEDULE.HEADER' | translate }} ’24-’25</h2>

<ng-container *ngIf="schedule$ | async as schedule">
  <div class="row pb-l">
    @for (item of schedule; track $index;) {
    <div class="card" [ngClass]="styles[$index].bg">
      <div class="class-label mb-md">
        <h3 class="p-0 cursive">
          {{ $index + 1 }} {{ 'SCHEDULE.CLASS' | translate }}
          <span>{{ item.time }}</span>
        </h3>
      </div>
      <p class="classes" [ngClass]="styles[$index].p" [innerText]="replaceDoubleCharacters(item[lang])"></p>
    </div>
    }
  </div>
</ng-container>
