.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;

  .container {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.overlay-close-container {
  display: flex;
  justify-content: flex-end;
  padding: var(--24);
}

.overlay-close-container-btn {
  position: relative;
  box-sizing: border-box;
  border: none;
  background: none;
  height: var(--36);
  width: var(--36);
  padding: 0;
}