<div class="block-section bg-green">
  <div class="net"></div>
  <div class="container">
    <h2>{{ 'TEAM.HEADER' | translate }}</h2>
    <div class="row row-col">
      <!-- 1ST -->
      <div class="card">
        <div class="col col1">
          <img src="assets/team/1.png" [attr.alt]="'TEAM.ONE.NAME' | translate" />
          <h3 class="pt-md pb-0">{{ 'TEAM.ONE.NAME' | translate }}</h3>
        </div>
        <p class="col col2" [innerHTML]="'TEAM.ONE.TEXT' | translate"></p>
        <div class="col col3">
          <p class="white p-0">{{ 'TEAM.ONE.CITE' | translate }}</p>
        </div>
      </div>

      <!-- 2ND -->
      <div class="card">
        <div class="col col1">
          <img src="assets/team/2.png" [attr.alt]="'TEAM.TWO.NAME' | translate" />
          <h3 class="pt-md pb-0">{{ 'TEAM.TWO.NAME' | translate }}</h3>
        </div>
        <p class="col col2" [innerHTML]="'TEAM.TWO.TEXT' | translate"></p>
        <div class="col col3 bg-img blue" style="background-image: url('assets/star-blue.svg')">
          <p class="white p-0">{{ 'TEAM.TWO.CITE' | translate }}</p>
        </div>
      </div>

      <!-- 3RD -->
      <div class="card">
        <div class="col col1">
          <img src="assets/team/3.png" [attr.alt]="'TEAM.THREE.NAME' | translate" />
          <h3 class="pt-md pb-0">{{ 'TEAM.THREE.NAME' | translate }}</h3>
        </div>
        <p class="col col2" [innerHTML]="'TEAM.THREE.TEXT' | translate"></p>
        <div class="col col3 bg-img yellow" style="background-image: url('assets/block-yellow.svg')">
          <p class="p-0">{{ 'TEAM.THREE.CITE' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="triangle left"></div>
</div>
