<div class="block-section bg-green">
  <div class="net"></div>
  <div class="container">
    <h2>Наша профессиональная команда</h2>
    <div class="row row-col">
      <!-- 1ST -->
      <div class="card">
        <div class="col col1">
          <img src="assets/team/1.png" alt="Виктория Бек" />
          <h3 class="pt-md pb-0">Виктория Бек</h3>
        </div>
        <p class="col col2">
          Я дипломированный учитель начальных классов, рукоделия, домоводства, филолог и преподаватель русского языка и литературы. <br />
          Мой педагогический опыт начался в российской школе, где я проработала 16 лет. В Дании я уже 13 лет преподаю в субботней школе
          русского языка для детей-билингвов. 12 лет работала в школе при Российском центре науки и культуры в Копенгагене, а с 2023 года
          открыла с группой единомышленников клуб-школу STARTUM, где являюсь администратором. <br />
          Мы обучаем детей языку и культуре, создавая языковую среду общения и проводя социальные мероприятия. <br />Последние 3 года я
          готовлю студентов Birkerød Gymnasie к экзаменам по русской литературе на уровне IB1 и IB2 с отличными результатами.
        </p>
        <div class="col col3">
          <p class="white p-0">Овладение языком на уровне носителя возможно, что я подтверждаю как учитель и мама двоих детей</p>
        </div>
      </div>

      <!-- 2ND -->
      <div class="card">
        <div class="col col1">
          <img src="assets/team/2.png" alt="Виктория Бек" />
          <h3 class="pt-md pb-0">Виктория Бурцева</h3>
        </div>
        <p class="col col2">
          Привет! Я художник, иллюстратор и графический дизайнер. <br />Закончила Московскую Художественно-Промышленную Академию им.
          Строганова и дополнительным образованием в области иллюстрации и графического дизайна. Более 5 лет работаю графическим дизайнером,
          преподаю мастер-классы по рисунку и живописи. С 2024 года работаю в школе Startum. <br />На моих занятиях дети учатся рисованию,
          знакомятся с художниками и изучают разные техники. Рисование развивает мелкую моторику, внимание, креативность и помогает
          справляться с эмоциями.
        </p>
        <div class="col col3 bg-img blue" style="background-image: url('assets/star-blue.svg')">
          <p class="white p-0">
            Жду всех на курсах "Графический дизайн для детей" и "Рисунок", где будем изучать создание логотипов и фирменного стиля! ❤️
          </p>
        </div>
      </div>

      <!-- 3RD -->
      <div class="card">
        <div class="col col1">
          <img src="assets/team/3.png" alt="Виктория Бек" />
          <h3 class="pt-md pb-0">Юлия Андрушко</h3>
        </div>
        <p class="col col2">
          Всем привет! Я учитель русского языка и литературы, кандидат филологических наук, выпускница Челябинского государственного
          педагогического университета. 12 лет работала преподавателем русского языка в колледже, занималась воспитательной работой и
          подготовкой студентов к научным и творческим конкурсам. <br />В 2024 году закончила курсы «Игровое чтение” и изучила особенности
          работы с малышами. <br />Также закончила курсы «Руководитель детского театрального коллектива» и 8 лет руководила театральным
          кружком для детей от 6 до 12 лет. Увлекаюсь танцами и рисованием, воспитываю 7-летнего сына. <br />В 2023 году моя семья переехала
          в Копенгаген. <br />В клубе «Стартум» работаю с 2023 года.
        </p>
        <div class="col col3 bg-img yellow" style="background-image: url('assets/block-yellow.svg')">
          <p class="p-0">
            На уроках я сочетаю традиционные и игровые формы, чтобы занятия были не только полезными, но и интересными для детей.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="triangle left"></div>
</div>
