:host {
  display: block;
  isolation: isolate;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  list-style-type: none;

  a {
    text-decoration: none;
  }

  li {
    align-self: baseline;
    font-size: var(--14);
    font-weight: 500;
  }
}

.menu-icon {
  align-self: flex-end;
  height: var(--36);
  width: var(--36);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  margin: 0 0 0 auto;
  border: none;
  background: none;
}

.logo {
  font-weight: bold;
  font-size: var(--20);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  ul {
    flex-direction: column;

    li {
      box-sizing: border-box;
      padding-block: .75rem;
      width: 100%;
      display: flex;
      font-size: var(--16);
    }

    .menu-icon {
      display: flex;
      align-self: center;
    }

    &.change {
      .br-hide {
        display: none;
      }
    }
  }

  .logo {
    font-size: var(--36);
  }
}