:host {
  display: block;
  isolation: isolate;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  list-style-type: none;

  a {
    text-decoration: none;
  }

  li {
    align-self: center;
    font-size: var(--14);
    font-weight: 500;
  }
}

.menu-icon {
  align-self: flex-end;
  height: var(--36);
  width: var(--36);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  margin: 0 0 0 auto;
  border: none;
  background: none;
}

.logo {
  font-weight: bold;
  font-size: var(--20);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}


.lang-li {
  position: relative;
  width: var(--40);
  height: var(--40);
}

.lang {
  display: inline-block;
  flex-direction: column;
  gap: var(--12);
  width: var(--40);
  position: absolute;

  &:hover,
  &:focus,
  &:active {
    .lang-link {
      &:not(.active) {
        display: inline-flex;
      }
    }
  }

  .lang-link {
    box-sizing: border-box;
    display: inline-flex;
    text-transform: uppercase;
    border-radius: 100%;
    border: 2px solid;
    background-color: white;
    width: var(--40);
    height: var(--40);
    justify-content: center;
    align-items: center;
    margin-bottom: var(--12);


    &:not(.active) {
      display: none;
    }

    &.active {
      color: var(--clr-red);
    }
  }
}

@media only screen and (max-width: 800px) {
  ul {
    flex-direction: column;

    li {
      box-sizing: border-box;
      padding-block: .75rem;
      width: 100%;
      display: flex;
      font-size: var(--16);
    }

    .menu-icon {
      display: flex;
      align-self: center;
    }

    &.change {
      .br-hide {
        display: none;
      }
    }
  }

  .logo {
    font-size: var(--36);
  }

  .lang-li {
    width: auto;
    height: auto;
  }

  .lang {
    position: relative;
    width: 100%;

    .lang-link {
      position: static;
      display: inline-flex !important;
      margin: 0 var(--12) 0 0;
    }
  }
}