<ul [class.change]="!showMenu">
  <li>
    <a href="#start" class="logo cursive">startum.dk</a>
    <button type="button" class="menu-icon" title="menu" (click)="showMenu = !showMenu" [class.change]="showMenu">
      <img class="icon-img" src="assets/menu.svg" alt="menu" *ngIf="!showMenu" />
      <img class="icon-img" src="assets/close.svg" alt="menu" *ngIf="showMenu" />
    </button>
  </li>
  <li class="br-hide"><a href="#process">Занятия</a></li>
  <li class="br-hide"><a href="#events">События</a></li>
  <li class="br-hide"><a href="#price">Цены</a></li>
  <li class="br-hide"><a href="#team">Наша команда</a></li>
  <li class="br-hide"><a href="#signup" class="btn btn-black">Связаться с нами</a></li>
</ul>
